* {
  box-sizing: border-box;
}
.App {
  width: 100vw;
  background-color: bisque;
}
.container {
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-carousel {
  width: 100%;
}

.body-cards {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}
.body-cards .CardExample {
}
